<script id="Bar" type="text/template">

    <div id="divDebug" class="debugContainerStyle">
        <div class="btn-group debugbuttongroup">
            <div class="btn btn-primary" onclick="Apps.Components.Debug.ShowComponents();">Components</div>
        </div>
    </div>
</script>



<script id="Window" type="text/template">

    <!--
        0 = Component tree html
        1 = Component detail
        2 = Preview
    -->
    <table>
        <tr>
            <td>{0}</td>
            <td valign="top" style="padding-left:10px;">{1}</td>
        </tr>
    </table>

</script>

<script id="Preview" type="text/template">
    <!--
        0 = iFrame source
    -->
    <div id="debug_PreviewIframe">
        <iframe id="iframePreview" frameborder="0" src="{0}"></iframe>
    </div>
</script>

<script id="ComponentsTab" type="text/template">

    <div id="ComponentsTabstrip" data-type="tabstrip">
        <div data-tabstrip-tabtitle="Components" data-tabstrip-templateid="ComponentsTab_MainTab"></div>
    </div>

</script>

<script id="PreviewTab" type="text/template">

    <div id="PreviewTabstrip" data-type="tabstrip">
        <div data-tabstrip-tabtitle="Preview" data-tabstrip-templateid="PreviewTab_MainTab"></div>
    </div>

</script>

<script id="ComponentEditorTabs" type="text/template">

    <div id="ComponentEditorTabstrip" data-type="tabstrip">
        <div data-tabstrip-tabtitle="HTML" data-tabstrip-templateid="ComponentEditor_HTMLTab"></div>
        <div data-tabstrip-tabtitle="JS" data-tabstrip-templateid="ComponentEditor_JSTab"></div>
        <div data-tabstrip-tabtitle="DATA" data-tabstrip-templateid="ComponentEditor_DataTab"></div>
    </div>

</script>

<script id="ViewTemplate" data-description="" type="text/template">

    <!--
        0 = component functions select html
        1 = template name
    -->
    <table>
        <tr>
            <td>Arg 1: <input id="{1}_Arg1" type="text" style="width:50px;" value="1" /> {0}</td>
        </tr>
        <tr>
            <td>Arg 2: <input id="{1}_Arg2" type="text" style="width:50px;" value="2"/> {0}</td>
        </tr>
        <tr>
            <td>Arg 3: <input id="{1}_Arg3" type="text" style="width:50px;" value="3"/> {0}</td>
        </tr>
    </table>

</script>

