.LinkListContentStyle {
    top: 25px;
    background-color: white;
    padding: 20px;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    border: 2px solid #337ab7;
    position: absolute;
    left: 25px;
    overflow: auto;
    z-index: 200;
}
