.Index_MainContainer {
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.Index_RightContainer {
    border: 1px solid blue;
    position: absolute;
    left: 15vw;
    width: 85vw;
    height: 100vh;
}
.Index_LeftContainer {
    border: 1px solid green;
    width: 15vw;
    height: 100vh;
    position: absolute;
    text-align:center;
}
.Index_StudyBookList{
    width:141px;
    margin-top:20px;
}
