.Docs_txtDocIDSearch_Style {
    width: 118px;
    position: relative;
    top: -74px;
    float: right;
}
.Docs_txtDocContentSearch_Style {
    width: 168px;
    position: relative;
    top: -74px;
    float: right;
    right: 6px;
}
.Docs_chkShowArchived {
    width: 30px;
    height: 30px;
    margin-left: 4px;
}
.Docs_spanShowArchived {
    font-size: 20px;
    margin-left: 6px;
}
.Docs_DocReviewedIndicator {
    float: right;
    width: 5px;
    background-color: green;
    height: 100%30px;
    position: relative;
    top: -10px;
    left: 5px;
}
.Docs_DocTitleCell {
    cursor:pointer;
    text-align: left;
    vertical-align: top;
    width: 150px;
    border-bottom: solid 1px lightgrey;
    padding: 5px;
    
}
.Docs_DocTitleCell:hover{
    background:aliceblue;
}
.Docs_DocTitleTagsSpan {
    font-size: 10px;
    /*position: relative;
    top: -24px;
    left: -2px;*/
}
.Docs_DocTitleCellTitle
{
    font-size: 25px;
}
.Docs_ButtonCell {
    opacity: 1;
    text-align: right;
    vertical-align: bottom;
    width: 13%;
    border-bottom: solid 1px lightgrey;
    padding: 5px;
}
