.D3ContentStyle {
    top: 5px;
    background: white;
    padding: 20px;
    width: 99%;
    height: 99%;
    border-radius: 5px;
    border: 2px solid #337ab7;
    position: absolute;
    z-index: 300;
    overflow: auto;
}
