/*
2
 * @CSS3 Tabstrip
3
 * @author Martin Ivanov
4
 * @website http://wemakesites.net
5
 * @blog http://acidmartin.wordpress.com/
6
 * @twitter https://twitter.com/wemakesitesnet
7
 **/

.css3-tabstrip ul,

.css3-tabstrip li

{
    margin: 0;

    padding: 0;
    list-style: none;
}
 
.css3-tabstrip,
.css3-tabstrip input[typex="radio"]:checked + label
{
    position: relative;
}
.css3-tabstrip li,
.css3-tabstrip input[typex="radio"] + label
{
    display: inline-block;
}
.css3-tabstrip li > div,
.css3-tabstrip input[typex="radio"]
{
    position: absolute;
}
.css3-tabstrip li > div,
.css3-tabstrip input[typex="radio"] + label
{
    /*border: solid 1px #ccc;*/
}
.css3-tabstrip
{
    
    /*font: normal 11px Arial, Sans-serif;
    color: #404040;*/
   /* height:342px;*/
}
    .css3-tabstrip li {
        vertical-align: top;
        height: 40px;
    }
.css3-tabstrip li:first-child
{
    margin-left: 8px;
}
.css3-tabstrip li > div
{
    /*top: 33px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    padding: 8px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.css3-tabstrip input[typex="radio"] + label
{
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 32px;
    background: #E6E7E8;
    border: 3px solid cornflowerblue;
    border-bottom-color: white;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.css3-tabstrip input[typex="radio"]:checked + label
{
    z-index: 1;
    background: #fff;
    border: 3px solid cornflowerblue;
    border-bottom-color: #fff;
    cursor: default;
}
.css3-tabstrip input[typex="radio"]
{
    opacity: 0;
}
.css3-tabstrip input[typex="radio"] ~ div
{
    display: none;
}
.css3-tabstrip input[typex="radio"]:checked:not(:disabled) ~ div
{
    display: block;
}
.css3-tabstrip input[typex="radio"]:disabled + label
{
    opacity: .5;
    cursor: no-drop;
}

.tabstrip-li {
    height: 300px;
}
.validationflagstyle{
     position:relative;color:red;top:-7px;left:3px;display:none;
}
