<!DOCTYPE html>
<html lang="en">
<head>

    <!--  Meta  -->
    <meta charset="UTF-8" />
    <title>Dialog Testing</title>

    <!--  Styles  -->
    <link rel="stylesheet" href="https://agentauto.localhost.com/Scripts/Apps/Components/Common/Components/Dialogs/Dialogs.css">
</head>
<body>

    <a href="#myDialog" role="button" data-action="toggleDialog">Open Dialog</a>

    <!-- Scripts -->
    <script src="https://agentauto.localhost.com/Scripts/Apps/Components/Common/Components/Dialogs/Dialogs.js"></script>
</body>
</html>