<script id="templateBook" data-description="Used to display a single 'Book'." type="text/template">
    <!--
        Shows a single book

        0=book id
        1=book title
        2=book subtitle
    -->
    <div id="BookViewer_{0}" class="StudyBook_BookViewer" draggable="true" ondrag="Apps.Components.StudyBook.Drag({0});" ondragend="Apps.Components.StudyBook.DragEnd({0});">

        <div id="BookViewer_Header_{0}" onclick="Apps.Components.StudyBook.Select({0});">
            <div id="BookViewer_MoveArrows_{0}" class="fas fa-arrows-alt" style="font-size:10px; position:absolute; right:33px; opacity:1;cursor:pointer;display:none;" onclick="Apps.Components.StudyBook.SavePosition({0});"></div>
            <div id="BookViewer_Thumbtack_{0}" class="fas fa-thumbtack" style="opacity:.4; font-size:10px; position:absolute; right:3px; width:20px; cursor:pointer;" onclick="Apps.Components.StudyBook.Pin({0});"></div>
        </div>
        <div id="BookViewer_AddDoc_{0}" class="fas fa-arrows-alt"></div>
        <div id="BookViewer_BookString_{0}" style="display:none;"></div>

        <div class="StudyBook_BookViewer_EditTitle_{0}" onclick="Apps.Components.StudyBook.Edit({0}, 'Title');">
            <h2>{1}</h2>
        </div>

        <div class="StudyBook_BookViewer_EditSubTitle_{0}" onclick="Apps.Components.StudyBook.Edit({0}, 'SubTitle');">
            <h4>{2}</h4>
        </div>
    </div>

</script>
<script id="templateBookEditText" type="text/template">
    <div>
        <input type="text" />
    </div>
</script>
<script id="templateEditHtml" type="text/template">
    <!--
        Edit screen for a book    
    
        0 = book id
        1 = edit text
    -->

    <textarea id="BookViewer_EditTextArea_{0}" style="width:100%; min-height:155px;">{1}</textarea>

</script>
<script id="BookContentTemplate" type="text/template">




</script>