
<div style="display:flex; flex-direction:row;flex-wrap:wrap; justify-content:space-evenly;">

    <div id="Login_divHeaderTextContainer">

        <div class="Login_Header">
            <h2 id="Login_WelcomeTo" style="opacity:0;color:#3498db;position:relative;">Welcome to</h2>
            <h1 id="Login_KeepOnWorking" style="opacity:0;color:#3498db;font-size:3rem;">Study<span class="Login_Plus">Plus</span>!</h1>
            <h2 id="Login_DelegationMadeEasy" style="opacity:0;    font-size: 1.8rem;">The height. The breadth. The width. The depth.</h2>
        </div>

    </div>
    <div id="Login_divLogoContainer" style="margin-top:10px;position:relative; opacity:0;" class="Login_imgHero">
        <!--<img src="Components/Login/Images/delegate.jpg" width="300" />-->
    </div>
    <!--<div id="Login_divSignInButtonContainer" style="height:60px;margin-top:23px;">
        <div>
            <div id="my-signin2" class="Login_SignInContainer_Google" style="opacity:0;">
            </div>
            <div class="Login_divSignOut_Google">
                <a href="#" onclick="Apps.Components.Login.Google.SignOut();">Sign Out of Google</a>
            </div>
        </div>
        <div class="Login_SignOutContainer_Microsoft">
            signed in with ms, sign out
        </div>
    </div>-->
</div>





